/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 24/09/2021, 08:55:22 PM
    Author     : kenny
*/

*{
    margin: 0;
    padding: 0;

 }
 h1{
        font-family: 'Shrikhand', cursive;
        color: white;
        
    }
    
 #size{
        width: 300px
    }
    #cent{
        left: 50%;
        top: 50%;
        transform: translateX(28%) translateY(28%);
           
        
    }